<h1>Admin::Categories#create</h1>
<% if @category.errors.any? %>
  <h2>Errors:</h2>
  <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% else %>
  <h2>Category Created!</h2>
  <p>The new category has been successfully created.</p>
<% end %>